/* NAVBAR */
.navbar-custom {
  background: #00c244;
  padding: 15px 0;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  text-align: right;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 18px;
  font-weight: 600;
}

.nav-links a:hover {
  color: black;
}

.login-btn {
  background: white;
  color: black !important;
  padding: 6px 14px;
  border-radius: 6px;
}

/* HERO */
.hero-section {
  background: url("image/gb.jpg") center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  color: rgb(33, 194, 57);
}

.hero-title {
  font-size: 50px;
  text-shadow: 2px 2px 5px black;
}

.hero-sub {
  font-size: 22px;
}

/* DOCTOR CARDS */
.doctor-card {
  background: #f6f6f6;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.doctor-card:hover {
  transform: scale(1.05);
}

.doctor-img {
  width: 100%;
  border-radius: 10px;
  height: 500px;
  object-fit: cover;
}

.card-btn {
  display: inline-block;
  margin-top: 8px;
  background: #00c244;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

/* DETAILS PAGE */
.details-img {
  width: 100%;
  border-radius: 10px;
}

.light-text {
  color: gray;
}

.price {
  color: #00c244;
  margin: 10px 0;
}

.add-cart-btn {
  background: #00c244;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

/* CART */
.cart-list {
  list-style: none;
  padding: 0;
}

.cart-item {
  background: #eee;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
}

/* LOGIN */
.login-box {
  background: #f0f0f0;
  padding: 25px;
  border-radius: 10px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-submit {
  width: 100%;
  padding: 10px;
  background: #00c244;
  color: white;
  border-radius: 6px;
  border: none;
  font-weight: bold;
}

/* ABOUT */
.about-text {
  font-size: 18px;
  margin-top: 15px;
}
